
.Topbar{
    background-color :rgb(222, 247, 247);
    padding: 24px 48px 12px;
    text-align: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    
     }
     .Topbar > img{
         width:100px;
         display: flex;
         
     }

     